# IDE
.idea

# dependencies
node_modules

# editor temp files
*.swp

# local environment
.env
.env.*
widget.local.crt
widget.local.key

# generated / local artefacts
www
test-results
node-backend/build
README-dev.md
venv
.cache